/* CUSTOM CSS */

i.material-icons {
  font-size: 18px;
  margin-right: 0.3rem;
}

.checkbox-wrapper {
  margin: auto;
  display: table;
}

.checkbox-wrapper label {
  cursor: pointer;
}


input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #007bff;
  border-radius: 3px;
  background-color: white;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #007bff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.user-table {
  margin-top: 1.5rem;
}

.card-footer {
  background-color: #f8f9fa;
}
